@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: silver;
}

body {
    font-family: lilita one, arial, sans serif;
    font-weight: 200;
    color:rgb(7, 61, 7) 
}

/* logo and nav bar*/

#logo {
    float: left;
    margin-left: 30px;
    font-family: lilita One, arial, sans serif;
    font-size: 400%;
    color: rgb(7, 61, 7);
    margin-top: 30px;
}

#menu {
    font-family: lilita one, arial, sans serif;
    width: 700px;
    margin-left: 60%;
    font-size: 200%;
    font-weight: 300;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 60px
   
    
    
}

#menu #logo {
    line-height: 75px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}


/*headings*/

h1, h2, h3 {
    font-family: lilita One, arial, sans serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(7, 61, 7)
}

/*hero image*/

#hero-image {
    height: 500px;
    width: 100%; 
    background-image:url(../images/hero-image-gaa.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

}

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    
    position: relative;

}

/* club search buttons & map */

#province-buttons {
    width: 50%
    height: 800px;
}

#province-buttons li {
    
    font-size: 50px;
    border: 15px outset rgb(7, 61, 7);
    display: block;
    margin-top: 50px;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 150px;
    width: 400px;
    border-radius: 10%;
    margin-left: 50px;
      
}

#province-buttons a {
        text-decoration: none;
        color: inherit;
}

#province-buttons img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 20px;
    text-align: left;
}

#map img {
    height: 1000px;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* home page content */

.home-page {
    margin-left: 50px;
    background-color: blue;
}

.home-page-left {
    margin-top: 0;
    border: 10px double rgb(7, 61, 7);
    float: left;
    padding: 20px;
    width: 100%;
    height: 250px;
    border-radius: 5%;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.home-page-right {
    margin-top: 30px;
    border: 10px solid rgb(7, 61, 7);
    float: right;
    padding: 20px;
    width: 100%;
    height: 250px;
    border-radius: 3%;
    font-size: 15px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;

}
