@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none; 
    color: black;
}

* { 
    border: 1px solid red;
    } 

body {
    font-family: lilita one, arial, sans serif;
    font-weight: 200;
    color: white;
    background-color: silver

}
hr {
    border: 2px inherit rgb(7, 61, 7);
    margin-bottom: 30px;
}
/* logo and nav bar*/

#logo {
    float: left;
    margin-left: 1%;
    font-family: lilita One, arial, sans serif;
    font-size: 300%;
    
}

#menu {
    font-family: lilita one, arial, sans serif;
    max-width:100%;
    font-size: 110%;
    float: right;
    color: rgb(7, 61, 7);

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;

}

#menu #logo {
    line-height: 75px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}

/*headings*/

h1, h2, h3 {
    font-family: lilita One, arial, sans serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    
}

/*hero image*/

#hero-image {
    height: 100%;
    max-width: 100%; 
    background-image:url(../images/hero-image-gaa.png);
    display: block;
    background-size: cover;
    background-position: center;
}

#hero-outer {
    width: 100%;
    height: 300px;
    overflow: hidden;
    
    position: relative;
}

/* home page content */

#about-gaa {
    max-width: 100%;
    padding: 30px;
    color: rgb(7, 61, 7);
    margin: 2%;
    box-shadow: 10px solid rgb(7, 61, 7);
    border-radius: 2%;
    
}

.about-heading {
    font-size: 280%;
}

#about-gaa p {
    font-size: 150%;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 25px;
}

#facts-gaa iframe {
    max-width: 100%;
    max-height: 100%;
    border: 20px inset rgb(7, 61, 7);
    margin-left: 10%;

    position: relative;

}

#facts-gaa {
    height: 800px;
    margin: 2%;
}

.facts-gaa {
    padding-top: 30px;
    width: 20%;
    display: inline;
    margin: 3%;
    margin-left: 10%;
    margin-right: 10%;
}
.facts-gaa h2 {
    margin: 10%;
}
.gaa-video {
    max-width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}


#video-container {
    width: 100%;
    height: 500px;
    padding: 30px;
    margin: 0 auto;
}

#benefits {
    max-width: 100%;
    min-height: 1200px;
    padding: 30px;
    color: rgb(7, 61, 7);
    margin: 2%;
    box-shadow: 10px solid rgb(7, 61, 7);
    border-radius: 2%;
    float: left;
    
}

#benefits div {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    float: left;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    font-size: 200%;
}

.benefits-heading {
    font-size: 400%;
    margin: 10%;
}
/* fundamentals */

#fundamentals {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#fundamentals h1 {
    font-size: 150%;
    margin: 10px;
    padding: 30px;
    text-decoration: underline;
    text-align: center;
    display: inline;
    margin-left: 33%;
}

#fundamentals iframe {
     max-width: 100%;
     border: 10px outset rgb(7, 61, 7);
     margin-top: 5%;
     margin-bottom: 5%;
     margin-left: 5%;
     margin-right: 25%;
}


/* club search buttons & map */

#club-finder {
    width: 100%;
    height: 1200px;
    
}


#find-clubs-heading {
    font-size: 50px;
    text-decoration: underline;

}

#province-buttons {
    width: 25%;
    height: 25%;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

#province-buttons li {
    
    box-shadow: 0 4px 8px 0 rgba(7, 61, 7, 0.8);
    max-width: 100%;
    text-align: center;
    padding: 20px;
    margin: 10px;
    list-style-type: none;
    font-size: 300%;
    height: 200px;
    border-radius: 5%;
    color: rgb(7, 61, 7);
    background-color: white;
      
}

#province-buttons a {
        text-decoration: none;
        color: inherit;
        font-size: 50%;
}

#province-buttons img {
    max-height: 50%;
    max-width: 50%;
    border-radius: 50%;
    padding: 5%;
    text-align: left;
}

#map {
    width: 50%;
}

#map img {
    width: 110%;
    height: 100%;
    margin-bottom: 100%;
    margin-left: 50%;
    border-radius: 10%;
    float: left;
    display: inline;

}

.flex-container {
    display: flex;
    float: left;
}

/*club locator*/

#ulster-clubs {
    height: 1200px;
}

#munster-clubs, #connacht-clubs {
    height: 600px;
}

#leinster-clubs {
    height: 1200px;
}
#flex-container-ulster-club-finder, #flex-container-munster-club-finder, #flex-container-connacht-club-finder, #flex-container-leinster-club-finder {
    height: 100%;
    width: 100%;  
}


.ulster-county-badges, .munster-county-badges, .connacht-county-badges, .leinster-county-badges {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 100px;
    height: 400%;

   
}

.munster-county-badges li, .connacht-county-badges li {
    box-shadow: 0 4px 8px 0 rgba(7, 61, 7, 0.8);
    width: 25%;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    
    margin: 10px;
    height: 42%;
    float: left;
    border-radius: 5%;
    font-size: 200%;
    color: rgb(7, 61, 7);
    background-color: white;
}


.ulster-county-badges li {

    box-shadow: 0 4px 8px 0 rgba(7, 61, 7, 0.8);
    width: 20%;
    text-align: center;
    list-style-type: none;
    padding: 15px;
    margin: 30px;
    height: 30%;
    float: left;
    border-radius: 5%;
    font-size: 200%;
    color: rgb(7, 61, 7);
    background-color: white;
}

.leinster-county-badges li {

    box-shadow: 0 4px 8px 0 rgba(7, 61, 7, 0.8);
    width: 20%;
    text-align: center;
    list-style-type: none;
    padding: 15px;
    margin: 20px;
    margin-left: 60px;
    height: 15%;
    float: left;
    border-radius: 5%;
    font-size: 200%;
    color: rgb(7, 61, 7);
    background-color: white;


}
.ulster-county-badges a, .munster-county-badges a, .connacht-county-badges a, .leinster-county-badges a 
{
    color: inherit;
    text-decoration: none;
}

/*contact us form*/

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 

}

input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 

}

  input[type=submit] {
    background-color: rgb(7, 61, 7);
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: rgb(13, 127, 204);
  }
  
  .contact-container {
    border-radius: 5px;
    background-color: silver;
    padding: 20px;
    padding-left: 33%;
    padding-right: 33%;
  }

/* footer */

footer {
    height: 150px;
    background-color: rgba(7, 61, 7, 0.8);
    border: 1px solid whitesmoke;
}

.social-media {
    text-align: center;
    color: whitesmoke;
}

.social-media > li {
    display: inline;
    color:whitesmoke;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 0%;
    color: whitesmoke;
}

.footer-address {
    text-align: center;
    font-size: 200%;
    color: whitesmoke;
    padding-top: 1%;
}

.footer-copyright {
    text-align: center;
    font-size: 100%;
    color: whitesmoke;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #facts-gaa, #about-gaa, #benefits  {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
}

/* For small screen sizes below 800px width */
@media screen and (max-width: 800px) {
    #video-container {
        margin: 0;
        text-align: left;
        height: 200px;
    }
}